p, h1, body, html {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: rgb(251, 237, 217);
}
header {
    background: rgb(214, 149, 59);
    font-size: 20px;
    padding: 15px;
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
    flex-grow: 1;
}
#real {
    flex-grow: 50;
}

.column {
    border: 3px solid rgb(214, 149, 59);
    background: white;
    width: 300px;
    height: 500px;
    margin: 5px;
    margin-top: 100px;
    overflow-wrap: break-word;
}
.container {
   display: flex;
   justify-content: space-around;
}
.maincontainer {
    text-align: center;
}
p {
  margin: 15px;
  text-align: left;
  
}
input {
    background-color: rgb(214, 149, 59);
    width: 280px;
    text-decoration: none;
    border: none;
    color: white;
   margin-top: 200px;
}